page-home {

img.logo {
    height: 70px;
    width: 70px;
  }

.ion-button {
  margin-top: 100px;
}

.bienvenido {
  margin-top: 40px;
}

.bienvenido h3 {
  /* Bienvenido */
font-family: Avenir-Black;
font-size: 32px;
color: #FFA000;
line-height: 46px;
}

.bajada {
  margin-bottom: 50px;
}

.bajada p {
  /* Tagline: */
font-family: Avenir-Black;
font-size: 18px;
color: #FFA000;
line-height: 46px;
}






}//nada después de esto.
